<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>410863550136-o9jd739qfrivrqcordcinlngdvm364jo.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.410863550136-o9jd739qfrivrqcordcinlngdvm364jo</string>
	<key>API_KEY</key>
	<string>AIzaSyC7XMh6r2UbAW3QQcXRHT4LftjchXUZjC8</string>
	<key>GCM_SENDER_ID</key>
	<string>410863550136</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>social.dagda.app</string>
	<key>PROJECT_ID</key>
	<string>dagda-social-network</string>
	<key>STORAGE_BUCKET</key>
	<string>dagda-social-network.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:410863550136:ios:24839e8d5c7eefc1d3fe4d</string>
</dict>
</plist>